/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/
body {
  font-family: sans-serif;
  padding: 2rem;
}

.element {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;
}

h2 {
  margin-top: 6rem;
}

h3 {
  margin-top: 1rem;
}

h4 {
  margin-bottom: 0.25rem;
}

p {
  margin-top: 0;
}

nav a:hover,
nav a:focus {
  text-decoration: none;
}

code {
  background-color: #EEE;
  padding: 0.5rem;
  display: block;
}


/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
/* .desktop-nav-item {
  display: inline-block;
  padding: 0.5rem;
  color: white;
  background-color: rgb(50,50,50);
  text-decoration: none;
  transition-property: background-color; 
  transition-duration: 0.5s;
}


.desktop-nav-item:hover, .desktop-nav-item:focus {
  background-color: rgb(200,200,200);
} */

#products-link-example {
  display: inline-block;
  font-family: "Geist Mono", monospace;
  padding: 0.5rem;
  color: #d0dccc;
  background-color: #0D0D0D;
  text-decoration: none;
  transition-property: color;
  transition-duration: 0.3s;
  margin-bottom: 1rem;
}

#products-link-example:hover,
#products-link-example:focus {
  color: #FFCD57;
}

/* Image as Link */

#shop-ram-link img {
  max-width: 40rem;
  transition-property: opacity;
  transition-duration: 0.5s;
}

#shop-ram-link:hover img {
  opacity: 0.8;
}




/* 
  TEXT ELEMENTS -------------------
*/


/* Headings */

#h1-heading-element {
  font-family: "Share Tech Mono", monospace;
}

#h2-heading-element {
  font-family: "Geist Mono", monospace;
}

#h3-heading-element {
  font-family: "Inter", sans-serif;
}

#h4-heading-element {
  font-family: "Inter", sans-serif;
}

/* Paragraphs: Product Description Styling */
#paragraph-text-element {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  max-width: 50rem;
}

/* Numbered List */
#numbered-list-element {
  font-family: "Geist Mono", monospace;
  font-size: 1rem;
  max-width: 30rem;
}

/* 
  COMBINED ELEMENTS -------------------
*/


/* full implementation start  */

.nav-header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  /* background-color: #02733E; */
  background-color: #0D0D0D;
  justify-content: space-between;
  border-bottom: #02733E 8px solid;
}


.logo {
  font-family: "Share Tech Mono", monospace;
  /* font-size: 1rem; */
  background: #0D0D0D;
  font-size: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 1rem 1rem;
  color: #d0dccc;
  border: 1.5px solid #d8d8d8;
}

.logo a {
  text-decoration: none;
  color: #d0dccc;
}

/* Source; https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/animation-timing-function */
.type-blink {
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

/* DESKTOP NAVIGATION STYLING START */
.desktop-nav {
  font-family: "Geist Mono", monospace;
  font-size: 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 2rem;
}

.desktop-nav a {
  float: left;
}

.desktop-nav-item {
  float: left;
  text-decoration: none;
  color: #d0dccc;
  margin-bottom: 1rem;
  transition-property: color;
  transition-duration: 0.4s;
}

.desktop-nav-item:hover,
.desktop-nav-item:focus {
  color: #FFCD57;
}

#view-all-products {
  font-weight: bold;
}

.dropdown {
  position: relative;
  /* overflow: hidden; */
  float: left;
}

.dropdown-content-products {
  display: none;
  position: absolute;
  background: white;
  font-size: 1rem;
  top: 100%;
  left: 0;
  border: 1px solid black;
  z-index: 1000;
  box-shadow: 4px 4px 0px #02733E;
}

.dropdown-content-products a {
  display: block;
  float: none;
  color: black;
  text-decoration: none;
  padding: 0.5rem 1rem;
  /* box-shadow:  */
  transition-property: background-color;
  transition-duration: 0.4s;
}

.dropdown-content-products a:hover {
  background-color: #FFCD57;
}

.dropdown:hover .dropdown-content-products {
  display: block;
}

.search-bar-group {
  margin: 1rem 3rem;
  display: flex;
  align-items: center;
}

#search-bar {
  font-family: "Geist Mono", monospace;
  padding: 0.25rem;
}

#search-bar:focus,
#search-bar:active {
  outline: 2px solid #FFCD57;
  outline-offset: -3px;
}

.search-bar-group button {
  background-color: #D8D8D8;
  border: none;
  cursor: pointer;
  padding: 0.125rem 0.15rem;
  transition-property: background-color, color;
  transition-duration: 0.3s;
}

.search-bar-group button:hover {
  background-color: #FFCD57;
  color: #0D0D0D;
}

.announcement-bar {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  background-color: #FFCD57;
  color: #0D0D0D;
}

.announcement-bar p {
  padding: 0.5rem;
  border-bottom: 2px solid #0D0D0D;
}

/* DESKTOP NAVIGATION STYLING END */

/* Product Listing */
.product-listing-group {
  font-family: Inter, sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #FFFFFF;
  border: 2px solid #0D0D0D;
  padding: 2rem;
  box-shadow: 8px 8px 0px #02733E;
  margin-bottom: 2rem;
}

.product-listing-group h2 {
  margin-top: 0;
}

.product-image {
  max-width: 30rem;
  height: auto;
  border: 2px solid black;
  margin-bottom: 1rem;
}

.product-inflated-price {
  text-decoration: line-through;
  color: gray;
  margin-left: 1rem;
}

#add-to-cart-button {
  max-width: 8rem;
  font-family: "Geist Mono", monospace;
  background-color: #FFCD57;
  color: #0D0D0D;
  border: 1px solid #0D0D0D;
  box-shadow: 3px 3px 0px #0D0D0D;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  transition-property: background-color, color;
  transition-duration: 0.3s;
}

#add-to-cart-button:hover {
  background-color: #0D0D0D;
  color: #FFCD57;
  box-shadow: 0px 0px 0px #0D0D0D;
  transform: translate(4px, 4px);
}

.product-details-group {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  margin-left: 10rem;
}

.product-specifications-group {
  font-family: "Geist Mono", monospace;
}

/* Description List Learned from IAT 235 */
dl {
  display: grid;
  grid-template-columns: max-content 1fr;
}

dt {
  grid-column-start: 1;
  font-weight: bold;
}

dd {
  grid-column-start: 2;
}

.product-specifications-group dl {
  border: 2px solid #0D0D0D;
}

.product-specifications-group dt,
.product-specifications-group dd {
  padding: 0.5rem;
  border-bottom: 2px solid #0D0D0D;
}

.product-specifications-group dt {
  background-color: #D8D8D8;
  border-right: 2px solid #0D0D0D;
}

.product-specifications-group dd {
  margin-left: 0;
}


/* Payment Form  */

.payment-form {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

input[type="radio"] {
  appearance: none;
  width: 1rem;
  height: 1rem;
  border: 2px solid #0D0D0D;
  /* border-radius: 0;  */
  display: inline-grid;
  place-content: center;
  margin-right: 0.5rem;
}

/* Source for creating custom buttons: https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */
input[type="radio"]::after {
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  transform: scale(0);
  background-color: #FFCD57;
  transition: 0.250s transform ease-in-out;
}

input[type="radio"]:checked::after {
  transform: scale(1);
}

input[type="radio"]:checked {
  border-color: #0D0D0D;
  background-color: #0D0D0D;
}

.payment-form input[type="text"] {
  font-family: "Geist Mono", monospace;
  border: 2px solid #0D0D0D;
  padding: 0.5rem;
  color: #0D0D0D;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1rem;
}


.payment-form input[type="text"]:focus {
  outline: none;
  background-color: #FFFFFF;
  border-color: #0D0D0D;
  box-shadow: 4px 4px 0px #02733E;
}

/* Shopping Cart */

.checkout-cart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border: 2px dashed #0D0D0D;
  background-color: #F9FBFF;
  padding: 2rem;
  width: auto;
  max-width: 30rem;
  font-family: "Geist Mono", monospace;
}

#total-price {
  font-weight: bold;
}

.cart-section {
  width: 100%;
  margin-bottom: 1rem;
}

.cart-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
}

.cart-divider {
  border: 0;
  border-bottom: 2px dashed #0D0D0D;
  width: 100%;
}


/* BRANDING STYLING START */

/* font families */
.brand-font {
  font-size: 1.5rem;
}

#logo-font {
  font-family: "Share Tech Mono", monospace;
  font-weight: bold
}

#nav-secondary-font {
  font-family: "Geist Mono", monospace;
}

#body-font {
  font-family: "Inter", sans-serif;
}

/* colour palette */

#colour-palette-image {
  max-width: 40rem;
  margin-bottom: 1rem;
}

.colour-palette {
  width: 5rem;
  height: 2.5rem;
  margin-bottom: 1rem;
}

#pcbgreen-colour {
  background-color: #02733E;
}

#offwhite-colour {
  background-color: #d0dccc;
}

#black-colour {
  background-color: #0D0D0D;
}

#aluminumsilver-colour {
  background-color: #d8d8d8;
}

#contactgold-colour {
  background-color: #FFCD57;
}

#verylightgray-colour {
  background-color: #EEEEEE;
}


/* Design Attributes */

#box-shadow-example-1 .dropdown-content-products {
  display: block;
  position: relative;
  width: max-content;
  margin-bottom: 1rem;
}


/* PAGE TEMPLATE STYLING */

body.template-page {
  background-color: #EEEEEE;
  padding: 0;
  margin: 0;
}

.page-container {
  max-width: 100vw;
  margin: 0 auto;
  padding: 2rem;
}

.page-heading {
  font-family: "Geist Mono", monospace;
  font-size: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding-bottom: 0.5rem;
}

/* PRODUCT LISTING LAYOUT */
.product-feed-layout {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 2rem;
  max-width: 60rem;
}

.product-feed-layout .product-listing-group {
  width: auto;
}
.product-feed-layout .product-details-group {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  margin-left: 5rem;
}

.product-feed-layout a {
  text-decoration: none;
  color: inherit;
}

.product-feed-layout .product-image {
  max-width: 20rem;
}

/* CHECKOUT LAYOUT */
.checkout-group {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 3rem;
  align-items: start;
}

.checkout-form-container {
  background-color: #FFFFFF;
  border: 2px solid #0D0D0D;
  padding: 2rem;
  box-shadow: 6px 6px 0px #02733E;
}

.checkout-section-title {
  font-family: "Geist Mono", monospace;
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}


#confirm-order-button {
  max-width: 10rem;
  font-family: "Geist Mono", monospace;
  background-color: #FFCD57;
  color: #0D0D0D;
  border: 1px solid #0D0D0D;
  box-shadow: 3px 3px 0px #0D0D0D;
  padding: 0.5rem;
  margin: 1rem auto;
  transition-property: background-color, color;
  transition-duration: 0.3s;
}

#confirm-order-button:hover {
  background-color: #0D0D0D;
  color: #FFCD57;
  box-shadow: 0px 0px 0px #0D0D0D;
  transform: translate(4px, 4px);
}

@media (width < 55rem) {

  .product-feed-layout .product-listing-group {
    flex-direction: column;
    align-items: center;
  }

  .product-feed-layout .product-details-group {
    margin-left: 0;
    margin-top: 1rem;
  }

  .nav-header {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;
  }

  .checkout-group {
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column-reverse;
    align-items: center
  }
}